@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #08080a;
}

html, body {
  cursor: auto;
}

button, a, [role="button"], .btn-magnetic {
  cursor: pointer;
}